src/main/resources/bps.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DailyExRates">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Currency">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CurrSrc" type="xs:string" />
                        <xs:element name="CurrTrg" type="xs:string" />
                        <xs:element name="ConvRate" type="xs:decimal" />
                        <xs:element name="CityId" type="xs:unsignedInt" />
                        <xs:element name="BankId" type="xs:unsignedLong" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Date" type="xs:date" use="required" />
    </xs:complexType>
</xs:element>
</xs:schema>